# Entornos Virtuales
.venv/
venv/
env/

# Caché de Python y archivos compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Datos, Logs y Salida (Añade carpetas específicas si las creas)
# data/
# logs/
# results/
# *.db
# *.log

# Archivos de entorno que contienen secretos
.env
*.env.*
secrets.json
*.pem
*.key

# Dependencias de Node (si usas JS con npm/yarn)
# node_modules/

# Archivos de construcción o distribución
# dist/
# build/